<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>All users</title>
</head>
<body>
<div th:switch="${getAllUsers}">
  <h2 th:case="null">No users found!</h2>
  <div th:case="*">
    <h2>Users</h2>
    <table>
      <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Role</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="user : ${getAllUsers}">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getFirstName()}"></td>
        <td th:text="${user.getLastName()}"></td>
        <td th:text="${user.getEmail()}"></td>
        <td>
          <div th:each="role : ${user.getRoles()}">
            <p th:text="${role.getName()}"></p>
          </div>
        </td>
        <td><a th:href="@{/admin/{id}/edit(id=${user.getId()})}">Edit</a></td>
        <td><form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
          <input type="submit" value="Delete"/>
        </form></td>
      </tr>
      </tbody>
    </table>
  </div>
  <p><a href="/admin/new">Create user</a></p>
  <br>
  <p><a href="/logout">Logout</a></p>
</div>
</body>
</html>