<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<div>
    <div>
        <h2>Name</h2>
        <p th:text="${}"></p>
    </div>
    <div>
    </div>
    <h2>Lastname</h2>
    <p th:text="${user.getLastName()}"></p>
    <div>
        <h2>Email</h2>
        <p th:text="${user.getEmail()}"></p>
    </div>
    <br>
    <br>
    <a href="/logout"> Logout</a>
</div>
</body>
</html></html>